#main-3 {

    .swiper-button-next,
    .swiper-button-prev {
        color: grey !important;

        &::after {
            font-size: 34px !important;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        &:hover {
            color: var(--primary-color) !important;
            transition: color .4s ease-in-out, background-color .2s ease-in-out
        }
    }
}