<div style="padding: 40px 0; background-color: var(--primary-color);">
    <div class="container">
        <div class="flex-subscribe">
            <p class="text-white fw-semibold" style="font-size: 22px;">Subscribe Now and Quench Your
                Wanderlust!</p>
            <div class="bg-white text-black d-inline-block button-join-now">
                <a href="#" class="text-black fw-semibold"
                    style="font-size: 13px; letter-spacing: 0.1rem; text-transform: uppercase; text-wrap: nowrap;">Join
                    Now
                </a>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div style="padding: 80px;">
        <div class="grid-footer">
            <div>
                <img src="../assets/logo-mobile-img-01.png" width="263" height="84" />
                <p style="color: #a9a9a9; font-size: 17px;" class="my-3">Lorem ipsum dolor sit ametco nsec te tuer
                    adipiscing elitae
                </p>
                <div class="d-flex flex-column gap-1">
                    <a href="#" class="link-footer">
                        <i class="fa-regular fa-envelope"></i>
                        <span class="ps-2">setsail@qode.com</span>
                    </a>
                    <a href="#" class="link-footer">
                        <i class="fa-solid fa-phone"></i>
                        <span class="ps-2">1 562 867 5309</span>
                    </a>
                    <a href="#" class="link-footer">
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="ps-2">Broadway & Morris St, New York</span>
                    </a>
                </div>
            </div>
            <div>
                <h6 class="mb-4" style="font-size: 18px;">Our Recent Posts</h6>
                <div class="d-flex flex-column gap-4" style="font-size: 14px;">
                    <div>
                        <a href="#" class="link-footer">
                            <p style="color: #a9a9a9;">Visit Thailand, Bali And China</p>
                        </a>
                        <a href="#" class="link-footer">
                            <p>September 7, 2016</p>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="link-footer">
                            <p style="color: #a9a9a9;">Visit Thailand, Bali And China</p>
                        </a>
                        <a href="#" class="link-footer">
                            <p>September 7, 2016</p>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="link-footer">
                            <p style="color: #a9a9a9;">Visit Thailand, Bali And China</p>
                        </a>
                        <a href="#" class="link-footer">
                            <p>September 7, 2016</p>
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <h6 class="mb-4" style="font-size: 18px;">Subscribe to our Newsletter</h6>
                <div class="d-flex flex-column gap-4" style="font-size: 14px;">
                    <div>
                        <a href="#" class="link-footer">
                            <p style="color: #a9a9a9;">Visit Thailand, Bali And China</p>
                        </a>
                        <a href="#" class="link-footer">
                            <p>September 7, 2016</p>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="link-footer">
                            <p style="color: #a9a9a9;">Visit Thailand, Bali And China</p>
                        </a>
                        <a href="#" class="link-footer">
                            <p>September 7, 2016</p>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="link-footer">
                            <p style="color: #a9a9a9;">Visit Thailand, Bali And China</p>
                        </a>
                        <a href="#" class="link-footer">
                            <p>September 7, 2016</p>
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <h6 class="mb-4" style="font-size: 18px;">Subscribe to our Newsletter</h6>
                <div class="d-flex flex-column gap-4" style="font-size: 14px;">
                    <div>
                        <a href="#" class="link-footer">
                            <p style="color: #a9a9a9;">Visit Thailand, Bali And China</p>
                        </a>
                        <a href="#" class="link-footer">
                            <p>September 7, 2016</p>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="link-footer">
                            <p style="color: #a9a9a9;">Visit Thailand, Bali And China</p>
                        </a>
                        <a href="#" class="link-footer">
                            <p>September 7, 2016</p>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="link-footer">
                            <p style="color: #a9a9a9;">Visit Thailand, Bali And China</p>
                        </a>
                        <a href="#" class="link-footer">
                            <p>September 7, 2016</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 12px 40px" class="text-center">
        <div class="mb-3" style="font-size: 13px;">
            <span style="color: #a9a9a9;">© 2018</span>
            <span>Qode Interactive</span>
        </div>
    </div>
</div>