<div style="width: 100%; overflow: hidden;">
    <img src="../assets/slider-img-1.jpg" style="object-fit: cover; width: 100%; height: 450px;" />
</div>
<div id="container-form">
    <div class="position-absolute w-100">
        <form id="form-main-1">
            <div class="w-100" style="float: left; background-color: white; box-shadow: 0px 3px 13px rgba(0,0,0,0.07);">
                <div id="filter-col">
                    <div class="position-relative">
                        <span class="filter-icon">
                            <i class="fa-solid fa-compass"></i>
                        </span>
                        <input class="input-search" placeholder="Where to?" />
                    </div>
                </div>
                <div id="filter-col">
                    <div class="position-relative">
                        <span class="filter-icon">
                            <i class="fa-regular fa-calendar"></i>
                        </span>
                        <input class="input-search" placeholder="Month" />
                    </div>
                </div>
                <div id="filter-col">
                    <div class="position-relative">
                        <span class="filter-icon">
                            <i class="fa-solid fa-thumbtack"></i>
                        </span>
                        <input class="input-search" placeholder="Travel Type" />
                    </div>
                </div>
                <div id="filter-button-col">
                    <span>
                        Find Now
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container text-center" style="margin-top:80px; margin-bottom:80px;">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-6">
            <span style="color: #3fd0d4; font-size: 33px; font-family: Satisfy, cursive; font-weight: 400;">Choose
                Your</span>
            <h1 style="font-weight: 600;">Perfect Holiday</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aene an commodo ligula eget dolor. Aenean
                massa.
                Cum sociis
                the
            </p>
        </div>
        <div class="col">
        </div>
    </div>
    <div></div>
</div>